<!-- <div class="card card--full"> -->
    <div class="cover">
        <div class="cover-container">
            <div class="cover-image">
                <img src="{{.Site.BaseURL }}images/my-image.jpeg" alt="صورة شخصية">
            </div>
            <div class="cover-info">
                <div class="cover-info-head">
                    <h2>Mohamedelfatih Seedahmed</h2>
                </div>
                <div class="cover-info-body">
                    <p>{{ .Params.description}}</p>
                    <div class="navbar">
                        <span><a href="#qualification">Qualification</a></span>
                        <span><a href="#personal-info">Personal</a></span>
                        <span><a href="#skills">Skills</a></span>
                        <span><a href="#contact">Contact</a></span>
                    </div>
                </div>                
            </div>
        </div>
    </div>    
<!-- </div> -->