<div class="card card--full">
    <h2>Completed Projects</h2>
    <div class="slide-container" id="work" style="width: 100%; height: 500px; position: relative;">
        <div class="slides-container__wrapper">
            {{ range .Site.Data.works }}
            <div class="slides fade" style="height: 100%;">
                <div class="image-container" style="width: 100%; height: 500px;">
                    <img src="{{ .src }}" alt="project-photo" style="width: 100%; height: 100%;">
                </div>
            </div>
            {{ end }}
        </div>
        <div class="slides-BTN" style="width: 100%; position: absolute; top: 0; bottom: 0; display: flex; align-items: center; justify-content: space-between;">
            <span class="next"><i class="fas fa-chevron-left" style="width: auto; font-size: 40px; color: black;"></i></span>
            <span class="prev"><i class="fas fa-chevron-right" style="width: auto; font-size: 40px; color: black;"></i></span>
        </div>        
    </div>
</div>